* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   justify-items: center;
   align-items: center;
   min-height: 100vh;
}

.container {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   margin: 10px;
   gap: 10px;
   font-weight: 17px;
   font-family: sans-serif;
   color: #fff;
}

.container>div {
   flex: 100%;
}

.subContainer {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.navbar {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 50px;
   background-color: #000;
   border-radius: 3px;
}

.sidebar {
   flex: 1;
   background: rgb(75, 186, 75);
}

.main_container {
   flex: 4;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.main_container>div {
   flex: 100%;
}

h4 {
   padding: 10px;
}

.main {
   min-height: 240px;
   background: rgb(179, 179, 183);
}

.content {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.content1, .content2, .content3 {
   min-height: 200px;
   background: rgb(100, 104, 104);
   flex: 1;
}

.footer {
   flex: 100%;
   min-height: 50px;
   background: rgb(219, 13, 147);
}

.sidebar, .main, .content>div {
   display: flex;
   justify-content: center;
   border-radius: 3px;
}

@media only screen and (max-width: 768px) {
   .subContainer {
      flex-direction: column;
   }

   .sidebar {
      min-height: 50px;
   }
}

@media only screen and (max-width: 550px) {
   .content>div {
      flex: 100%;
   }

   .content1, .content2, .content3 {
      min-height: 170px !important;
   }
}